nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  position: fixed;
  background-color: #f9f6f5;
  width: 100%;
  left: 0;
  top: 0;
  font-family: sans-serif;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;

    li a {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      color: #222222;
      transition: all 0.2s;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 24px;

    i {
      cursor: pointer;
      font-size: 24px;
      transition: all 0.2s;
    }
  }
}

#top {
  padding-top: 250px;
  background-color: #f9f6f5;
}




.get-here {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px;


  .get-text {
    h1 {
      font-weight: 500;
      font-size: 56px;
      line-height: 70px;
      letter-spacing: 0%;
      width: 621px;
      color: #000;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 516px;
    }

    .inp {
      display: flex;
      align-items: center;
      background-color: #fff;
      width: 326px;


      input {
        padding: 14px 0px 14px 16px;
        width: 326px;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #999999;
      }

      i {
        cursor: pointer;
        padding: 8px 25px 8px 8px;
        background-color: #402F2C;
        color: #FFFFFF;
        margin-right: 16px;
        width: 16px;
      }
    }

    button {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      padding: 16px 32px;
      background: #402F2C;
      border: none;
      color: #fff;
      margin-top: 60px;
      cursor: pointer;
    }
  }
}

.logos {
  display: flex;
  align-content: inherit;
  justify-content: space-between;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  margin-top: 130px;
  padding: 42.5px 0;

  img {
    cursor: pointer;
    transition: all 0.2s;
    width: 120px;
    height: 35px;
  }
}

.popular {
  margin-top: 130px;

  .popular-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 500;
      font-size: 56px;
      line-height: 70px;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
      width: 714px;
    }

    a {
      font-family: Red Hat Display;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0%;
      text-decoration: underline;
      text-decoration: underline;
    }
  }

  .popular-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .popular-card {
      border: 1px solid #685A5230;
      padding: 0 0 32px 0;

      h4 {
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        margin-top: 20.44px;
        color: #222222;

      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #555555;
        width: 516px;
        margin-bottom: 47px;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-weight: 500;
          font-size: 30px;
          line-height: 32px;
          letter-spacing: 0%;
          color: #222222;
          text-align: right;

        }
      }

      .price span {
        display: flex;
        gap: 24px;

        button {
          background-color: #402F2C;
          padding: 16px 32px;
          color: #FFFFFF;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          border: none;
          cursor: pointer;
        }

        button:nth-child(2) {
          background-color: transparent;
          color: #402F2C;
          border: 1px solid #685A5275
        }

      }
    }
  }
}



/* :hover effect */

.icons i:hover {
  transform: scale(1.1);
}

ul li a:hover {
  font-size: 18px;
  font-weight: 600;
}

.logos img:hover {
  transform: scale(1.1);
}