* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Red Hat Display;
}

section .img img {
    width: 100%;
    height: 200px;
}


section .div1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
align-items: center;}

.div1 .img1 {
    width: 40%;
    height: 500px;
    background: green;
}

.img1 img {
    width: 100%;
    height: 500px;
}

section .text {
    width: 40%;
    height: 500px;
 display: flex;
flex-direction: column;
justify-content: center;}

section .text button {
    width: 148px;
    height: 56px;
    border: none;
    border-radius: 10px;
    background: rgba(64, 47, 44, 1) ;
    color: white;
}

section .div2 {
     width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
align-items: center;
}
.div2 .img2 {
    width: 40%;
    height: 500px;
    background: green;
}

section .text1 {
    width: 40%;
    height: 500px;
 display: flex;
flex-direction: column;
justify-content: center;}
