* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none;
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}